.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    border: 0.2px solid;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    justify-content: flex-start;
    width: 300px;
    max-width: 400px;
    flex-grow: 1;
}

.recipe:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.recipe img {
    width: 100%;
    height: min-max(400px, auto);
    border-radius: 10px 10px 0 0;
    padding: 0;
    margin: 0;
    object-fit: contain;
}

.footer {
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0 0 10px 10px;
}