.root_layout {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 15% 1fr auto;
}

.navigation {
    background-color: #dcdcdc;
    display: flex;
    align-items: flex-end;
}